body {
  background: url(./TRVLR-Background.jpg);
  background-size: cover;
}

.title {
  /* background-color: salmon; */
  text-align: center;
}

.company {
  /* background-color: salmon; */
}

.logo {
  /* background-color: salmon; */
  text-align: left;
}

.slogan {
  /* background-color: salmon; */
  text-align: right;
}

.outer-container {
  /* background-color: white; */
  height: 68%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  /*  Use this to manually justicy-content
  gap: 40%;
  padding: 0% 15%; 
  */
}

.inner-container {
  /* background-color: black; */
  flex-basis: 30%;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  height: 75%;
  margin: 15%;
}

.footer {
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
  color: white;
}
